#comments {
  .comments-title, .comment-reply-title {
	margin: 30px 0;
	position: relative;
	font-weight: 600;
	text-transform: uppercase;
	span {
	  display: inline-block;
	  background-color: #FFF;
	  padding-right: 20px;
	  position: relative;
	  z-index: 10;
	}
  }
  .comment-reply-title {
	margin-top: 20px;
	margin-bottom: 25px;
  }
  .comment-list {
	list-style: none;
	padding: 0;
	margin: 0 0 28px;
	li {
	  position: relative;
	  list-style: none;
	}
	.comment-respond {
	  .comment-reply-title {
		margin-bottom: 20px;
		&:after {
		  content: none;
		}
		#cancel-comment-reply-link {
		  float: right;
		}
	  }
	}
	.comment-body {
	  padding-bottom: 25px;
	  margin-bottom: 25px;
	  overflow: hidden;
	  .comment-author-image {
		float: left;
		max-width: 70px;
		img {
		  height: 70px;
		  width: 70px;
		}
	  }
	}
	.comment-main {
	  margin-left: 100px;
	  color: #272727;
	  padding: 20px 30px;
	  border: 1px solid #ebebeb;
	  @media screen and (max-width: 767px) {
		margin-left: 0;
	  }
	  .comment-content {
		color: #3c3c3c;
		font-size: 14px;
		font-style: italic;
		line-height: 30px;
		margin-bottom: 15px;
	  }
	  .comment-meta {
		.comment-author {
		  font-size: 13px;
		  text-transform: uppercase;
		  color: #3c3c3c;
		  font-weight: 600;
		  a {
			color: #3c3c3c;
		  }
		}
		.comment-date {
		  color: #3c3c3c;
		  font-size: 12px;
		}
		.comment-awaiting-moderation {
		  font-size: 10px;
		  color: $primary_color;
		}
		.reply {
		  text-align: right;
		  float: right;
		  font-size: 13px;
		  letter-spacing: 0.05em;
		  text-transform: uppercase;
		  font-weight: 600;
		  a {
			color: $primary_color;
			&:hover {
			  color: #3c3c3c;
			}
		  }
		}
	  }


	}

	ul.children {
	  padding-left: 130px;
	  position: relative;

	  .comment-author-image {
		max-width: 109px;
		float: left;
		padding: 0 0 20px;
		background: #fff;
	  }
	}
  }
  #commentform {
	label {
	  color: #3c3c3c;
	  display: block;
	  margin-bottom: 13px;
	  clear: both;
	}
	p {
	  margin: 0 0 23px;
	  input[type="text"], textarea {
		border-color: #ebebeb;
		&:focus {
		  border-color: $primary_color;
		}
	  }
	  &.comment-form-author,
	  &.comment-form-url,
	  &.comment-form-email {
		width: 33.33%;
		float: left;
		padding-right: 30px;
		@media screen and (max-width: 767px) {
		  width: 100%;
		  padding-right: 0;
		}
	  }
	  &.comment-form-url {
		padding-right: 0;
	  }
	  &.comment-form-comment {
		clear: both;
		margin-bottom: 30px;
	  }
	  &.form-submit {
		text-align: right;
	  }
	}
	#submit {
	  background-color: #232323;
	  border-color: #232323;
	  color: #FFF;
	  &:hover {
		background-color: $primary_color;
		border-color: $primary_color;
	  }
	}
  }
}