/**
* Main Content
*/

.post, .page  {
    .post-title {
        font-size: 20px;
        margin: 0 0 40px;
        padding-left: 15px;
        position: relative;
        text-transform: uppercase;
        &:before {
            background-color: $primary_color;
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            top: 0;
            width: 5px;
        }
    }
}

#primary {
    .inner {
        background-color: #FFF;
        padding: 15px;
    }
}

.post-search {
    margin-bottom: 15px;
    .entry-title {
        margin: 0 0 15px;
        padding: 0;
    }
}
.post-item {
	border-bottom: 1px solid #f1f1f1;
	&:last-child {
		border-bottom: none;
	}
	.post-thumbnail {
		padding-top: 10px;
	}
	.entry-title {
		padding: 0;
		margin: 0;
		font-size: 20px;
		font-weight: normal;
	}
}
/**
* Page title & Breadcrumb
*/
#page-elements {
    text-align: center;
    background-color: #222222;
    padding: 20px 0;
    #breadcrumbs {
        color: #FFF;
        text-transform: uppercase;
		a {
			color: $secondary_color;
			&:hover {
				color: #FFF;
			}
		}
    }
    #page-element-title {
        color: #FFF;
        font-weight: normal;
        text-transform: uppercase;
    }
}

#features-block {
    margin-top: 30px;
    margin-bottom: 30px;
}

#news-block {
    padding: 40px 0;
    background-color: #FFF;
}

.social-share-button {
	list-style: none;
	margin: 30px 0 0;
	padding: 0;
	li {
		display: inline-block;
		a {
			display: block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 20px;
			text-align: center;
			background-color: $secondary_color;
			color: #fff;
			&:hover {
				background-color: $primary_color;
			}
		}
	}
}