#back-to-top {
    width: 40px;
    height: 40px;
    display: none;
    text-align: center;
    background-color: $primary_color;
    color: #FFF;
    border: 1px solid #FFF;
    font-size: 25px;
    cursor: pointer;
    line-height: 40px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 999;
    &.on {
        display: block;
    }
}

.section-title {
	border-bottom: 1px solid #333;
	font-size: 22px;
	line-height: normal;
	margin: 20px 0;
	padding: 0 0 10px;
	position: relative;
	text-align: left;
	text-transform: uppercase;
	color: #333;
	&::after {
		background-color: $secondary_color;
		bottom: -1px;
		content: "";
		display: inline-block;
		height: 1px;
		left: 0;
		position: absolute;
		width: 80px;
	}
	&::before {
		background-color: $secondary_color;
		bottom: -3px;
		content: "";
		display: inline-block;
		height: 5px;
		left: 20px;
		position: absolute;
		width: 35px;
	}
}
/**
* Feature box
*/
.feature-box {
    position: relative;
    margin-bottom: 30px;
    background-color: #FAA330;
    .title {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        padding: 0 0 10px;
        margin: 0 0 15px;
        font-weight: normal;
        &:after {
            content: '';
            width: 50%;
            height: 2px;
            background-color: $primary_color;
            position: absolute;
            bottom: 0;
            left: 50%;
            @include transform(translateX(-50%));
            @include transition(all 0.2s ease-in-out);
        }
        a {
            color: $primary_color;
        }
    }
    .image {
        position: relative;
        text-align: center;
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 0;
            @include transition(all 0.3s ease-in-out);
        }
        .readmore {
            background-color: $primary_color;
            color: #FFF;
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            height: 40px;
            width: 40px;
            line-height: 40px;
            text-align: center;
            padding: 0!important;
            @include transform(translate(-50%, -50%));
            opacity: 0;
            @include transition(all 0.3s ease-in-out);
        }
    }
    .content {
        padding: 15px;
    }
    .btn-readmore {
        border: 1px dashed $primary_color;
        color: #FFF;
        &:hover {
            background-color: $primary_color;
        }
    }
    &:hover {
        .image {
            &:before,
            .readmore {
                opacity: 1;
            }
        }
        .title {
            &:after {
                background-color: #FFF;
            }
            a {
                color: #FFF;
            }
        }
    }
}

/**
* New Slider
*/
.news-slider {
    .large-news {
        .image {
            text-align: center;
            display: block;
        }
    }
    .list-news {
        .list-news-item {
            .title {
                margin: 0;
                font-size: 15px;
                line-height: normal;
                height: 42px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
.list-news-tab {
    list-style: none inside;
    margin: 0;
    padding: 0;
    li {
        display: block;
        overflow: hidden;
        position: relative;
        margin: 15px 0;
        max-height: 100px;
        .image {
            display: block;
            width: 100px;
            float: left;
            padding-right: 15px;
        }
        .title {
            margin: 0;
            padding: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 18px;
        }
    }
}
