/**
* Footer
*/
footer {
    background-color: #222222;
    padding: 15px 0 0;
    color: #9e9e9e;
    .widget {
        margin-bottom: 25px;
        font-size: 16px;
        p {
            color: #9e9e9e;
        }
		a {
			color: $secondary_color;
			&:hover {
				color: #FFF;
			}
		}
        .widget-title {
            border-bottom: 1px solid #c5c5c5;
            font-size: 18px;
            line-height: normal;
            margin: 0 0 20px;
            padding: 0 0 10px;
            position: relative;
            text-align: left;
            text-transform: uppercase;
            color: #c5c5c5;
            &::after {
                background-color: $secondary_color;
                bottom: -1px;
                content: "";
                display: inline-block;
                height: 1px;
                left: 0;
                position: absolute;
                width: 80px;
            }
            &::before {
                background-color: $secondary_color;
                bottom: -3px;
                content: "";
                display: inline-block;
                height: 5px;
                left: 20px;
                position: absolute;
                width: 35px;
            }
        }
        .menu {
            border: medium none;
            margin: 0;
            padding: 0;
            text-align: left;
            li {
                list-style: inside;
                margin: 0;
                padding: 0;
                line-height: 20px;
                &:hover {
                    a {
                        text-indent: 10px;
						color: #FFF;
                    }
                }
                a {
                    display: inline-block;
                    padding: 5px 0;
                    color: #c5c5c5;
                }
            }
        }
    }
}

.footer_bag {
    background: rgba(0, 0, 0, 0) url("../images/buyOnline.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 122px;
    margin-top: -16px;
    width: 150px;
    position: absolute;
    top: -15px;
    left: 15px;
}

#footer-top {
    > .container > .row {
        position: relative;
    }
}

#footer-bottom {
    background-color: #1d1d1d;
    border-top: 1px solid #363636;
    color: #555;
    padding: 10px 0;
	a {
		color: #FFF;
	}
    .widget {
        margin-bottom: 0;
	}
}
.power  {
    text-align: right;
}
ul.contacts-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    li {
        padding: 5px 0;
        i {
            font-size: 20px;
            margin-right: 5px;
        }
    }
}
ul.social-link,
ul.footer-socials {
    display: inline-block;
    padding: 0;
    margin: 15px 0 0;
    position: relative;
    width: 100%;
    li {
        display: inline-block;
        padding: 0;
        line-height: inherit;
        a {
            color: #FFF;
			background-color: $secondary_color;
            font-size: 25px;
            font-weight: 400;
            padding: 0 15px;
            text-align: center;
        }
    }
}