/**
* Header Top
*/
/**
* Header Top
*/
#header-top {
    background-color: #F6F6F6;
    border-top: 5px solid $primary_color;
    .top-socials {
        list-style: inside none none;
        margin: 0;
        padding: 0;
        text-align: right;
        @media screen and (max-width: 767px) {
            text-align: center;
        }
        li {
            border-left: 1px solid $primary_color;
            display: inline-block;
            line-height: 31px;
            margin-left: -4px;
            &:first-child {
                border: medium none;
            }
            a {
                color: $primary_color;
                display: block;
                text-align: center;
                padding: 0 15px;
            }
            &:hover {
                a {
                    color: #FFF;
                    background-color: $primary_color;
                }
            }
        }
    }
    //header top menu
    .menu {
        list-style: none inside;
        margin: 0;
        padding: 0;
        li {
            border-left: 1px solid $primary_color;
            display: inline-block;
            line-height: 31px;
            margin-left: -4px;
            &:first-child {
                border: medium none;
            }
            a {
                display: block;
                padding: 0 15px;
            }
            &:hover {
                a {
                    background-color: $primary_color;
                    color: #FFF;
                }
            }
        }
    }
}

#header-search-form {
    text-align: center;
    margin-top: 21px;
    line-height: normal;
    .form-search {
        display: block;
        transition: all 0.5s ease 0s;
        width: 500px;
        position: relative;
        margin: 0;
        input[type="text"] {
            border: 1px solid $primary_color;
            border-radius: 5px;
            display: block;
            padding: 10px;
            width: 100%;
        }
        input[type="submit"] {
            background: $primary_color none repeat scroll 0 0;
            border: medium none;
            border-radius: 0 5px 5px 0;
            color: #fff;
            display: block;
            padding: 10px;
            margin: 0;
            position: absolute;
            top: 1px;
            right: 0;
            &:hover {
                color: #000;
            }
        }
    }
}
/**
* Header Style
*/
#header {
    padding: 10px 0;
    border-bottom: 1px solid #F1F1F1;
    .navbar.navbar-default {
        background-color: transparent;
        border: none;
        border-radius: 0;
        margin: 0;
        padding: 0;
        min-height: auto;
    }
}
.header-cart {
    float: right;
    line-height: $menu_height;
    a.btn {
        border-radius: 5px;
        color: #FFF;
        display: inline-block;
        font-size: 17px;
        font-weight: bold;
        padding: 7px 15px;
        text-transform: uppercase;
    }
}
.header-search-form-wrap {
    border-bottom: 1px solid #F1F1F1;
}
.header-navigation-wrap {
    position: relative;
}
#logo {
    margin: 0;
    padding: 0;
    position: relative;
    height: $header_height;
    line-height: $header_height;
    float: none;
    .site-title {
        position: absolute;
        opacity: 0;
        line-height: 0;
    }
    a {
        display: block;
        color: #FFF;
    }
    img {
        max-height: $header_height;
        @include transition(all 100ms ease-in-out);
    }
    &:hover {
        img {
            @include transform(scale(1.1));
        }
    }
}

/**
* Sticky Header
*/
.header-sticky.header-fixed {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
}



/* Cart and Search
==========================================================*/
.widget_cart_search_wrap {
    text-align: right;
    .widget_cart_search_wrap_item {
        padding-left: 35px;
        > a.icon {
            color: #acacac;
            display: inline-block;
            height: 35px;
            width: 35px;
            line-height: 32px;
            text-align: center;
            background-color: #f8f7f7;
            border: 1px solid #eae9e9;
            @include breakpoint-max(992px){
                position: absolute!important;
                right: 75px;
                top: 50%;
                @include transform(translateY(-50%));
            }
            &:hover, &.active {
                background-color: $primary_color;
                color: #FFF;
                i {
                    color: #fff;
                    @include animation(0.3s ease 0s normal forwards 1 running toTopFromBottom);
                }
            }
            &.icon_cart_wrap {
                margin-right: 10px;
                position: relative;
                .cart_total {
                    position: absolute;
                    color: #fff;
                    background-color: $primary_color;
                    @include border-radius(100%);
                    display: block;
                    font-size: 11px;
                    height: 18px;
                    line-height: 18px;
                    right: -5px;
                    text-align: center;
                    top: -10px;
                    width: 18px;
                }
            }
        }
        .shopping_cart_dropdown,
        .widget_searchform_content {
            height: 0;
            overflow: hidden;
            opacity: 0;
            @include transition(all 400ms);
            &.active {
                height: auto;
                overflow: hidden;
                opacity: 1;
            }
        }
        .shopping_cart_dropdown {
            width: 360px;
            position: absolute;
            background-color: #141414;
            top: 100%;
            right: 16px;
            z-index: 999;
            @media screen and (max-width: 768px) {
                right: 0;
                width: 100%;
            }
            .shopping_cart_dropdown_inner {
                padding: 20px;
                .cart_list {
                    list-style: none inside;
                    margin: 0;
                    padding: 0;
                    li.cart-list {
                        border-bottom: 1px solid #393939;
                        color: #FFF;
                        overflow: hidden;
                        padding: 20px 0;
                        line-height: normal;
                        &.empty {
                            text-align: center;
                        }
                        a {
                            float: left;
                            img {
                                width: 75px;
                                height: 93px;
                            }
                        }
                        .cart-list-info {
                            padding-left: 95px;
                            text-align: left;
                            .title {
                                color: #FFF;
                                font-size: 12px;
                                padding: 0 0 10px;
                                margin: 0;
                                text-transform: uppercase;
                                line-height: normal;
                            }
                            .amount {
                                color: $primary_color;
                                display: block;
                                font-style: italic;
                                padding-bottom: 10px;
                                padding-right: 4px;
                                @extend .font-second;
                            }
                            .quantity {
                                display: block;
                                color: #858585;
                                text-transform: uppercase;
                                padding-bottom: 10px;
                                padding-right: 4px;
                                a {
                                    float: right;
                                    margin-left: 15px;
                                    color: #858585;
                                }
                            }
                        }
                    }
                }
                .cart-total {
                    .total {
                        font-size: 16px;
                        color: #FFF;
                        display: block;
                        text-align: center;
                        text-transform: uppercase;
                        .amount {
                            font-size: 36px;
                            padding-left: 10px;
                            color: $primary_color;
                        }
                    }
                    .btn {
                        width: 100%;
                        text-align: center;
                        color: #FFF!important;
                        &.btn-checkout:hover {
                            @include background-opacity($primary_color, 0.3);
                        }
                        &.btn-cart {
                            background-color: #909090;
                            border-color: #909090;
                            &:hover {
                                @include background-opacity(#909090, 0.3);
                            }
                        }
                    }
                }
            }
        }

        .widget_searchform_content {
            position: absolute;
            width: 100%;
            left: 0;
            top: 100%;
            form {
                position: relative;
                padding: 35px 60px;
                border: 1px solid #edecec;
                background: rgba(255, 255, 255, 0.6);
                input {
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    padding: 0;
                    color: #FFF;
                    &[type="text"] {
                        font-size: 18px;
                        color: #000;
                        background-color: #fff;
                        border: none;
                        padding: 0 15px;
                        &:focus {
                            background-color: #fff;
                            border: none;
                        }
                    }
                    &[type="submit"] {
                        font-size: 12px;
                        text-transform: uppercase;
                        padding: 0 50px;
                        position: absolute;
                        right: 40px;
                        top: 35px;
                        background-color: $primary_color;
                        @media screen and (max-width: 768px) {
                            padding: 0 15px;
                        }
                    }
                }
            }
        }
    }
}

#menu-top-menu {
    list-style: none;
    margin: 0;
	padding: 0;
    li {
        display: inline-block;
        margin: 0 10px 0 0;
        a {
            color: #9e9e9e;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            line-height: 32px;
            padding-right: 20px;
            &:hover {
                color: $secondary_color;
            }
            i {
                float: left;
                font-size: 32px;
                margin-right: 5px;
                margin-top: 0;
            }
        }
        &:last-child a {
            border: 0 none;
        }
    }
}

#call-to-shop {
    padding: 5px 20px 5px 10px;
    display: inline-block;
    line-height: normal;
    border: 2px dashed #9e9e9e;
    color: $secondary_color;
    @include border-radius(10px);
    i {
        padding-right: 5px;
    }
	span {
		padding-right: 15px;
		a {
			color: $secondary_color;
		}
		&:last-child {
			padding-right: 0;
		}
	}
    
}

.slick-list .slick-track .slick-image-slide img {
    width: 100%;
}