/**
*
*/
body {
    font-family: sans-serif, serif;
    color: #333;
    font-size: 16px;
    line-height: 25px;
}

a {
    transition: all 200ms ease-in-out;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

h1 {
    font-size: 30px;
    line-height: 35px;
}
h2 {
    font-size: 20px;
    line-height: 26px;
}
h3 {
    font-size: 18px;
    line-height: 24px;
}
h4 {
    font-size: 16px;
    line-height: 20px;
}
h5 {
    font-size: 14px;
    line-height: 18px;
}
h6 {
    font-size: 14px;
    line-height: 16px;
}

p {
	text-align: justify;
}

.more-link {
	font-weight: bold;
}
/** Main Content */
body {
    #main-content {
        margin-bottom: 50px;
		clear: both;
    }
    &.home {
        #main-content {
            margin: 0;
        }
    }
}

/**
* Elements Style
*/
#zura-page-element-wrap {
    .page-breadcrumb {
        .breadcrumbs {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                padding-right: 5px;
                &:after {
                    content: "\f101";
                    font-family: FontAwesome;
                    padding-left: 5px;
                }
                a {
                    color: $link_color;
                    &:hover {
                        color: $link_hover_color;
                    }
                }
            }
        }
    }
}
/**
Block title
**/
.comment-reply-title {
    margin: 0;
}
.comment-reply-title,
.single .page .post-title,
.single .room .post-title,
.single .post .post-title {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    margin: 20px 0;
    padding-left: 15px;
    &:before {
        content: '';
        width: 5px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $primary_color;
    }
}

.bottom-line {
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    padding-bottom: 15px;
    &:after {
        content: '';
        height: 1px;
        width: 50px;
        background-color: $primary_color;
        position: absolute;
        bottom: -1px;
        left: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    &:hover:after {
        left: calc(100% - 50px);
    }
}
/**
* Zura Carousel
*/
.zura-carousel {
    &.owl-theme .owl-nav {
        position: absolute;
        top: -50px;
        right: 0;
        [class*="owl-"] {
            padding: 0;
            height: 30px;
            line-height: 30px;
            width: 30px;
            text-align: center;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            background-color: $primary_color;
        }
    }
}

/** **/
.post-navigation {
    .screen-reader-text { display: none; }
    .nav-links {
        overflow: hidden;
        [class^="nav-"] {
            display: inline-block;
            a {
                color: $link_color;
                &:hover {
                    color: $link_hover;
                }
            }
        }
        .nav-next {
            float: right;
        }
    }
}

.vc_row {
    .wpb_column {
        .vc_column-inner {
            .vc_inner.vc_row {
                margin: 0;
            }
        }
    }
}
body {
    .wpb_button,
    .wpb_content_element,
    ul.wpb_thumbnails-fluid > li {
        margin-bottom: 0;
    }
}

.home-sidebar {
    .woocommerce {
        border-radius: 20px;
        background-color: #FFF;
        margin-bottom: 30px;
        padding: 20px;
        ul.products li.product {
            margin-bottom: 0 !important;
        }
    }
}
.bg-white {
    > .vc_column-inner > .wpb_wrapper {
        padding: 20px;
        background-color: #FFF;
        border-radius: 20px;
    }
}

.widget_newsletterwidget {
    padding: 30px 0;

    .widget-title {
        border: medium none;
        color: #0d98d5;
        display: block;
        font-family: "Fredoka One",cursive;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 25px;
        padding: 0;
        text-transform: none;
    }
    .newsletter-email {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #e5e5e5;
        border-radius: 20px;
        box-shadow: none;
        color: #5e686d;
        display: inline-block;
        height: 40px;
        margin-bottom: 10px;
        padding: 10px 43px 10px 12px;
        width: 100%;
    }
    .newsletter-submit {
        background: #0a97d4 none repeat scroll 0 0;
        border: 0 none;
        border-radius: 20px;
        color: #fff;
        display: inline-block;
        font-family: "Fredoka One",cursive;
        font-size: 14px;
        font-weight: 400;
        line-height: 40px;
        padding-right: 16px;
        position: relative;
        text-align: right;
        transition: all 500ms ease 0s;
        width: 150px;
        &:before {
            color: #fff;
            content: "\f0e0";
            font-family: FontAwesome;
            font-size: 25px;
            font-weight: 700;
            height: 10px;
            left: 15px;
            position: absolute;
            top: -1px;
            width: 10px;
        }
        &:after {
            border-right: 1px dashed #6ec4ea;
            content: "";
            height: 25px;
            left: 56px;
            position: absolute;
            top: 8px;
            width: 0;
        }
    }
    p {
        color: #5e686d;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 25px;
    }

    div.col-sm-offset-6 {
        margin-left: 0;
        padding: 0;
    }
}

#new-products,
#future-products {
    margin-bottom: 30px;
}

.block-news-block {
    margin-top: 15px;
}