/**
* Navigation
*/
@media screen and (min-width: 768px) {
    #navbar {
        padding: 0;
    }
    .nav.main-navigation {
        > li {
            margin-right: 10px;
            line-height: $menu_height;
            > a {
                color: $menu_link_color;
                background-color: $menu_link_background_color;
                display: inline-block;
                font-size: 17px;
                padding: 10px 15px;
                font-weight: bold;
                @include border-radius(5px);
				text-transform: uppercase;
            }
            &.current-menu-item,
            &.current-menu-ancestor,
            &.current-menu-parent,
            &.active,
            &:hover {
                > a  {
                    color: $menu_link_hover_color;
                    background-color: $menu_link_background_hover_color;
                }
            }
            .menu-arrow {
                display: none;
            }
        }
        li.hidden-label {
            a span {
                display: none;
            }
        }
        li.menu-item-has-children {
            position: relative;
            &:hover {
                > .sub-menu {
                    max-height: none;
                    margin: 0;
                    opacity: 1;
                    height: auto;
                    overflow: visible;
                }
            }
            ul {
                max-height: 0;
                height: 0;
                position: absolute;
                margin: 15px 0 0;
                padding: 0;
                z-index: 99;
                background: #F6F6F6;
                opacity: 0;
                overflow: hidden;
                @include transition(margin 200ms ease-in-out);
                li {
                    list-style: none inside;
                    min-width: 220px;
                    float: left;
                    line-height: normal;
                    a {
                        color: $menu_link_color;
                        display: block;
                        padding: 10px;
                        font-size: 16px;
                        @include transition(all 200ms ease-in-out);
                    }
                    &:hover > a {
                        background-color: $menu_link_background_hover_color;
                        color: $menu_link_hover_color;
                        text-indent: 10px;
                    }
                    &.menu-item-has-children {
                        ul {
                            padding: 0;
                            left: 100%;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .navbar-toggle {
        position: absolute;
        left: 15px;
        top: 15px;
        background-color: $secondary_color;
        border-color: $secondary_color;
        .icon-bar {
            background-color: #FFF;
        }
    }

    .header-cart {
        margin-right: 15px;
    }
    .navbar-collapse {
        position: relative;
        z-index: 9999;
        background-color: #222222;
        width: 100%;
    }
    .nav.main-navigation {
        li {
            position: relative;
            font-size: 15px;
            a {
                color: #FFF;
            }
            .menu-arrow {
                display: block;
                position: absolute;
                right: 20px;
                top: 0;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background-color: #FFF;
                color: #333;
                cursor: pointer;
            }
            &.current-menu-item,
            &.current-menu-ancestor,
            &.current-menu-parent,
            &.active {
                > a  {
                    color: #FFF;
					background-color: $secondary_color;
                }
                ul.sub-menu {
                    display: block !important;
                }
            }
            &.menu-item-has-children {
                &.open {
                    > ul.sub-menu {
                        display: block !important;
                    }
                }
                ul.sub-menu {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: none;
                    li {
                        a {
                            padding: 5px 15px;
                            display: block;
                            background-color: transparent;
                            &:before {
                                content: '-';
                                padding-right: 5px;
                            }
                            &:hover {
                                color: $secondary_color;
								background-color: #FFF;
                            }
                        }
                        &.current-menu-item,
                        &.current-menu-ancestor,
                        &.current-menu-parent,
                        &.active {
                            > a  {
                                color: #FFF;
                                background-color: $secondary_color;
                            }
                            ul.sub-menu {
                                display: block !important;
                            }
                        }
                    }
                    ul.sub-menu {
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}

/**
Sub Navigation
*/
#sub-nav {
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 15px;
    .menu {
        margin: 0;
        padding: 0;
        li {
            line-height: 30px;
            a {
                color: #FFF;
                display: block
            }
        }
    }
}

/**
* home-navigation
*/
.menu-menu-container {

}
#home-navigation {
    .home-navigation-inner {
        background-color: #F1F1F1;
    }
}
.home-navigation {
    margin: 0;
    padding: 0;
    list-style: none inside;
    li {
        position: relative;
        border-bottom: 1px solid #FFF;
        a {
            font-size: 15px;
            display: block;
            padding: 5px 15px;
            text-transform: uppercase;
        }
        &:hover {
             > a {
                 background-color: $menu_link_background_hover_color;
                 color: #FFF;
             }
        }
    }
}
@media all and (min-width: 768px) {
    .home-navigation {
        li {
            .menu-arrow {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                display: block;
            }
            &.menu-item-has-children {
                &.open {
                    > ul.sub-menu {
                        display: block !important;
                    }
                }
                .sub-menu {
                    display: none;
                    background: #f1f1f1 none repeat scroll 0 0;
                    list-style: inside none none;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    right: -200px;
                    top: 0;
                    width: 200px;
                    z-index: 9999;
                    li {
                        position: relative;
                        &.menu-item-has-children {
                            .sub-menu {
                                display: none;
                            }
                        }
                    }
                }
            }
            &:hover {
                &.menu-item-has-children {
                    .sub-menu {
                        display: block;
                        li {
                            &:hover {
                                > .sub-menu {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 767px) {
    .home-navigation {
        li {
            .menu-arrow {
                display: block;
                position: absolute;
                right: 20px;
                top: 0;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background-color: #FFF;
                color: #333;
                cursor: pointer;
            }
            &.menu-item-has-children {
                &.open {
                    > ul.sub-menu {
                        display: block !important;
                    }
                }
                .sub-menu {
                    display: none;
                    background: #f1f1f1 none repeat scroll 0 0;
                    list-style: inside none none;
                    margin: 0;
                    padding: 0 0 0 15px;
                    li {
                        position: relative;

                        &.menu-item-has-children {
                            .sub-menu {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}