@media screen and (min-width: 992px){

}
@media (min-width: 768px){
    #home-navigation {
        padding-right: 0;
        .home-navigation-inner {
            height: 300px;
        }
    }
    #home-slider {
        padding-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .nav.main-navigation > li > a {
        padding: 10px 5px !important;
    }
}

@media (max-width: 767px){
	#header-top {
		height: auto;
	}
	#call-to-shop {
		width: 100%;
		text-align: center;
		span {
			display: block;
		}
	}
    #logo {
        width: 100%;
        text-align: center;
    }
    .search-form-wrap  {
        width: 100%;
        margin-bottom: 20px;
        form input[type="text"] {
            width: 100%;
        }
    }
    .woocommerce div.product div.images {
        width: 100%;
    }
    .woocommerce #content div.product div.summary,
    .woocommerce div.product div.summary,
    .woocommerce-page #content div.product div.summary,
    .woocommerce-page div.product div.summary,
    .woocommerce-page div.product div.product-description {
        width: 100%;
    }
    .woocommerce ul.products li.product .product-image,
    .woocommerce-page ul.products li.product .product-image {
        min-height: auto !important;
    }
    #header-search-form {
        .form-search {
            width: 100%;
        }
    }
    #header-top .menu {
        text-align: center;
        li a {
            padding: 0 10px;
        }
    }

}

@media (max-width: 640px) {
    ul.list-news li {
        .thumbnail {
            width: 100%;
            margin: 0 0 15px;
            float: none;
            clear: both;
        }
        .title {
            line-height: normal;
        }

    }
}