/**
* Widget Latest Post
*/
.latest-post {
	.latest-post-item {
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;
		.recent-thumb {
			width: 100px;
			height: 100px;
			float: left;
			padding-right: 10px;
		}
		.item-title {
			margin: 0;
			padding: 0;
			font-weight: normal;
			font-size: 15px;
			line-height: normal;
		}
	}
}

/**
* Home page
*/
.block {
	.block-title {
		span {
			position: relative;
			display: inline-block;
			padding-right: 10px;
			color: $primary_color;
			text-transform: uppercase;
			&:before {
				content: "\f21c";
				font-family: FontAwesome;
				padding-right: 10px;
				color: #333;
			}
			border-bottom: 3px solid #333;
			a {
				color: $primary_color;
				&:hover {
					color: $link_hover_color;
				}
			}
		}
	}
}