.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px
}

.tabs-left {
    border-right: 1px solid #ddd
}

.tabs-right {
    border-left: 1px solid #ddd
}

.tabs-left > li, .tabs-right > li {
    float: none;
    margin-bottom: 2px;
    list-style: none;
}

.tabs-left > li {
    margin-right: -1px
}

.tabs-right > li {
    margin-left: -1px
}

.tabs-left > li.active > a, .tabs-left > li.active > a:focus, .tabs-left > li.active > a:hover {
    border-bottom-color: #ddd;
    border-right-color: transparent
}

.tabs-right > li.active > a, .tabs-right > li.active > a:focus, .tabs-right > li.active > a:hover {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent
}

.tabs-left > li > a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block
}

.tabs-right > li > a {
    border-radius: 0 4px 4px 0;
    margin-right: 0
}

.tab-content > .tab-pane {
    display: none
}

.tab-content > .active {
    display: block
}


.sideways {
    margin-top: 50px;
    border: none;
    position: relative
}

.sideways > li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px
}

.sideways > li > a {
    border-bottom: 1px solid #ddd;
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0 0
}

.sideways > li.active > a, .sideways > li.active > a:focus, .sideways > li.active > a:hover {
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd
}

.sideways.tabs-left {
    left: -50px
}

.sideways.tabs-right {
    right: -50px
}

.sideways.tabs-right > li {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.sideways.tabs-left > li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

/* Woo Commerce
==============================================================*/
.woocommerce ,
.woocommerce-page{
    ul.products {
        padding: 0;
        margin: 0;
        list-style: none inside;
        li.product {
            width: 30.8%;
            margin-bottom: 20px;
            min-height: 330px;
            @include breakpoint-max(768px){
                width: 100%;
            }
            .single-product {
                background-color: #FFF;
                padding: 0;
                border: 1px dashed $primary_color;
            }
            .product-image {
                overflow: hidden;
                position: relative;
                min-height: 200px;
                a {
                    text-align: center;
                    display: block;
                    img {
                        margin: 0;
                        display: inline-block;
                        @include transition(all 200ms ease-in-out);
                    }
                }
                &:hover {
                    img {
                        @include transform(scale(1.1));
                    }
                }
            }

            .product-meta {
                padding: 10px 0;
                text-align: center;
                background-color: $secondary_color;
                position: relative;
                del {
                    color: #333;
                    font-size: 15px;
                }
                .product-title {
                    padding: 0 10px;
                    margin: 0;
                    font-size: 17px;
                    a {
                        display: block;
                        color: #FFF;
                        &:hover {
                            color: #333;
                        }
                    }
                }
                .product-price {
                    color: #FFF;
                    font-size: 20px;
                    font-weight: 700;
                }
                a.add_to_cart_button {
                    background: #fff none repeat scroll 0 0;
                    border: 1px solid $primary_color;
                    border-radius: 5px;
                    color: $primary_color;
                    display: inline-block;
                    font-size: 14px;
                    height: 40px;
                    line-height: 38px;
                    padding: 0 15px;
                    text-align: center;
                    text-transform: uppercase;
                    @include transition(all 300ms ease 0);
                    position: absolute;
                    top: -20px;
                    left: 50%;
                    opacity: 0;
                    min-width: 120px;
                    @include transform(translateX(-50%));
                    &:hover {
                        background-color: $primary_color;
                        border-color: #FFF;
                        color: #FFF;
                    }
                }
            }
            &:hover {
                .product-image {
                    a {
                        img {
                            @include transform(scale(1.1));
                        }
                    }
                }
                .product-meta {
                    a.add_to_cart_button {
                        opacity: 1;
                        top: -25px;
                    }
                }
            }
        }
    }
    &.columns-4 {
        ul.products {
            li.product {
                width: 25%;
                margin: 0;
                padding: 15px;
                @include breakpoint-in(768px, 800px){
                    width: 50%;
                }
                @include breakpoint-max(768px){
                    width: 50%;
                }
            }
        }
    }
    &.columns-3 {
        ul.products {
            li.product {
                width: 33%;
                margin: 0;
                padding: 15px;
                @include breakpoint-in(768px, 800px){
                    width: 50%;
                }
                @include breakpoint-max(768px){
                    width: 50%;
                }
            }
        }
    }
}

/**
* Single Product
*/
.woocommerce  {
    span.discount {
        background: #6ba130 none repeat scroll 0 0;
        border: 0 none;
        color: #fff;
        display: inline-block;
        font-family: "Open Sans",sans-serif;
        font-size: 11px;
        font-weight: 700;
        line-height: 17px;
        right: 5px;
        top: 10px;
        width: 45px;
        padding: 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        transform: rotate(39deg) skewX(0deg);
        z-index: 999;
    }
    .rating-wrap {
        text-align: center;
        .star-rating {
            float: none;
            display: inline-block;
        }
    }
    .woocommerce-ordering select {
        padding: 7px 10px;
    }
    a.remove{
        padding-left: 3px;
    }
    #respond input#submit, a.button,
    button.button, input.button {
        background: #FFF;
        border: 1px solid $primary_color;
        @include border-radius(5px);
        padding: 0.618em 1em;
        font-weight: 400;
        &:hover {
            color: #FFF;
            background-color: $primary_color;
        }
    }
    div.product {
        overflow: hidden;
        .cart-contact {
            margin: 10px 0;
        }

        .single_add_to_cart_button {
            @include border-radius(0);
            background-color: $primary_color;
            color: #FFF;
            &:hover {
                background-color: transparent;
                color: $primary_color;
            }
        }
        /**
        * Product detail
        */
        div.images {
            width: 50%;
            margin-right: 20px;
            border: 1px dashed $primary_color;
        }
        span.price {
            background-color: $secondary_color;
            color: #FFF;
            font-weight: bold;
            padding: 5px 12px;
            border-radius: 4px;
            display: inline-block;
        }
        .product_title {
            font-size: 27px;
            letter-spacing: 0;
            margin: 0 0 15px;
            padding: 0;
            position: relative;
            line-height: normal;
        }
        .rating-price,
        .single_variation_wrap {
            .woocommerce-product-rating {
                .woocommerce-review-link {
                    display: none;
                }
            }
            .woocommerce-product-price {
                margin-bottom: 15px;

                .price {
                    del, ins {
                        display: inline-block;
                    }
                    .amount {
                        display: inline-block;
                        font-size: 30px;
                        line-height: normal;
                        font-weight: 400;
                        color: #141414;
                    }
                    del {
                        .amount {
                            margin-right: 10px;
                            color: #6f6f6f;
                            text-decoration: line-through;
                        }
                    }
                    ins {
                        .amount {
                            color: #141414;
                        }
                    }
                }
            }
        }
        .variations {
            tr {
                .label {
                    padding: 10px 0 0;
                    width: 55px;
                    label {
                        font-style: italic;
                        font-weight: normal;
                        font-size: 12px;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                    }
                }
                .value {

                }
            }
        }
        .product_meta {
            > span {
                display: block;
                color: #6f6f6f;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 22px;
                a, span {
                    color: #141414;

                }
            }
        }
        .social-list {
            margin: 40px 0 0;
            padding: 0;
            text-align: left;
            li {
                display: inline-block;
                a {
                    display: block;
                    text-align: center;
                    margin-right: 5px;
                    i{
                        width: 42px;
                        height: 42px;
                        color: #141414;
                        line-height: 42px;
                        background-color: #f9f9f9 !important;
                        @include border-radius(100%);
                    }
                    &:hover {
                        i{
                            background-color: $primary_color !important;
                            color:#FFF;
                        }
                    }
                }
            }
        }
    }
    .woocommerce-info {
        border-top-color: $primary_color;
        &:before {
            color: $primary_color;
        }
    }

    /**
    * --> Product Tabs
    */
    .woocommerce-tabs {
        .wc-tabs {
            margin: 0 0 15px;
            padding: 0;
            border: none;
            li {
                display: inline-block;
                background-color: #ebe9eb;
                border: 1px solid #d3ced2;
                border-radius: 4px 4px 0 0;
                margin: 0;
                padding: 5px 15px;
                position: relative;
                z-index: 0;
                a {
                    outline: none;
                }
                &.active {
                    background: $primary_color;
                    border-bottom-color: #fff;
                    z-index: 2;
                    a {
                        color: #FFF;
                    }
                }

            }
        }
        .tab-content {
            margin: 0;
            padding: 30px;
        }
    }
}

/*
*---> Your Cart
*/
.woocommerce-cart {
    .product-quantity {
        .input-text {
            padding: 10px 0;
        }
    }
}
/*
* Checkout Page
*/
.woocommerce {
    .cart-total-table {
        padding: 20px;
        border: 2px solid #ececec;
        margin-bottom: 100px;
        table {
            border: none;
        }
        th {
            font-size: 12px;
            color: #141414;
            text-transform: uppercase;
            font-weight: normal;
        }
        th, td {
            width: 50%;
            text-transform: uppercase;
            border-top: none!important;
            border-bottom: 1px solid #ececec!important;;
            padding: 20px 0!important;;
        }
        #shipping_method {
            li {
                list-style: none;
                padding: 0;
                text-indent: 0;
                overflow: hidden;
                clear: both;
                line-height: 24px;
                margin: 0 0 25px;
                input {
                    display: block;
                    float: left;
                    margin-top: 5px;
                    margin-right: 15px;
                }
                label {
                    display: block;
                    float: left;
                    font-size: 10px;
                    text-transform: uppercase;
                    color: #6f6f6f;
                    letter-spacing: 0.1em;
                    font-family: inherit;
                    font-style: normal;
                    span {
                        color: #141414;
                        display: block;
                        @extend .font-second;
                        font-size: 18px;
                        font-style: italic;
                        font-weight: normal;
                    }
                }
            }
        }
        .wc-proceed-to-checkout {
            .checkout-button {
                padding: 21px;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

    form .form-row {
        margin-bottom: 25px;
        padding: 0;
        &:last-child { margin-bottom: 0; }
        label {
            @extend .font-second;
            font-size: 12px;
            font-style: italic;
            color: #141414;
            display: block;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
    }
    .button {
        padding: 18px 35px!important;
        @include border-radius(0!important);
    }
}

/**
* Product Single
*/

.product-area {
    margin: 35px;
}

.product-tab ul.tab-menu {
    position: relative;
    z-index: 1;
    li {
        display: inline-block;
        margin-right: 10px;

        &:hover a {
            background: #f95c95 none repeat scroll 0 0;
        }

        a {
            background: #0a97d4 none repeat scroll 0 0;
            font-family: "Fredoka One",cursive;
            border-radius: 15px;
            padding: 10px 25px;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            line-height: 40px;
        }

        &.active a {
            background: #f95c95 none repeat scroll 0 0;
            color: #fff;
            text-decoration: none;
        }
    }
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    width: 100%;
    float: none;
}

/**
* Checkout Page
*/
.woocommerce-checkout {
    #customer_details {
        .input-text {
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            color: #555;
            display: block;
            font-size: 14px;
            height: 34px;
            line-height: 1.42857;
            padding: 6px 12px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            width: 100%;
        }
        textarea.input-text {
            height: 100px;
        }
    }
    .woocommerce-thankyou-order-received {
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
    }
    .woocommerce .order_details li {
        font-size: 15px;
    }
}