/*
Theme Name: Đồ Phượt Zura
Description: Đồ Phượt Zura
Theme URI: http://zuravn.com
Author: info@zuravn.com
Author URI: http://zuravn.com
Version: 1.0
Text Domain: dophuotzura
*/
@import url("woocommerce.css");
@font-face { font-family: 'Swiss CondensedBold'; src: url('fonts/swiss-condensedbold.eot'); src: url('fonts/swiss-condensedbold.eot?#iefix') format('embedded-opentype'), url('fonts/swiss-condensedbold.woff') format('woff'), url('fonts/swiss-condensedbold.ttf') format('truetype'), url('fonts/swiss-condensedbold.svg#swiss-condensedbold') format('svg'); font-weight: normal; font-style: normal; }
body { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; background: #fff; }
a:hover { text-decoration: none; }

/*---header===*/
header { }
.header-top { background: #f5f5f5; color: #999; border-bottom: 1px solid #fff; display: inline-block; clear: both; width: 100%; font-size: 13px; }
.menu-top ul { margin: 0; padding: 0; list-style: none; text-align: right; }
.menu-top ul li { display: inline-block; padding: 5px 11px; }
.menu-top ul li a { color: #666; }
.menu-top ul li.current-menu-item, .menu-top ul li:hover { background: #fff; }
.logo { margin-top: 5px; margin-bottom: 15px; }
.logo span { color: #a1a1a1; font-size: 12px; }
nav.nav { background: #4471c2; position: relative; }
.menu { margin-bottom: 0; }
.menu li { display: inline-block; position: relative; z-index: 100; }
.menu li:first-child { margin-left: 0; }
.menu li a { text-decoration: none; padding: 15px 25px 10px; display: block; color: #fff; transition: all 0.2s ease-in-out 0s; font-size: 13px; text-transform: uppercase; font-weight: bold; }
.menu li.menu-item-has-children a:before { content: "\f103"; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); margin-right: 5px; }
.sub-menu li a:before { content: "\f101" !important; }
.menu li a:hover, .menu li:hover>a, .menu li.current-menu-item a { color: #fff; background: #E62534; }
.menu ul { visibility: hidden; opacity: 0; margin: 0; padding: 0; width: 200px; position: absolute; left: 0px; background: rgba(35, 130, 177, .8); z-index: 99; transform: translate(0, 20px); transition: all 0.2s ease-out; }
.menu ul li { display: block; float: none; background: none; margin: 0; padding: 0; }
.menu ul li a { font-size: 14px; font-weight: normal; display: block; color: #fff; background: #129643; text-transform: none; }
.menu ul li a:hover, .menu ul li:hover a { background: #E62534; color: #fff; }
.menu li:hover>ul { visibility: visible; opacity: 1; transform: translate(0, 0); }
.menu ul ul { left: 199px; top: 0px; visibility: hidden; opacity: 0; transform: translate(20px, 20px); transition: all 0.2s ease-out; }
.menu li>ul ul:hover { visibility: visible; opacity: 1; transform: translate(0, 0); }
.menu-responsive { background: #34495E; left: -250px;  /* start off behind the scenes */ height: 100%; position: fixed; width: 250px; z-index: 9999; display: none; overflow-y: scroll; }
.menu-icon { background: #2A82B7; left: 0; top: 0; z-index: 999; width: 100%; display: none; }
.menu-close { cursor: pointer; padding: 10px; background: #2A82B7; text-align: left; color: #fff; font-size: 16px; text-transform: uppercase; font-weight: bold; font-family: Arial; overflow: hidden; }
.menu-close i { color: #fff; font-size: 30px; float: left; }
.menu-close i.fa-times { float: right; }
.menu-close span { margin: 5px; float: left; }
.menu-open { color: #fff; cursor: pointer; font-family: Arial; font-size: 14px; text-decoration: none; text-transform: uppercase; font-weight: bold; overflow: hidden; }
.menu-open i { margin-right: 20px; color: #fff; font-size: 35px; float: left; }
.menu-open img { float: left; width: 150px; margin-top: 4px; }
.menu-responsive ul { list-style: none; padding: 0; }
.menu-responsive ul li { padding: 10px; border-bottom: 1px solid #415B74; }
.menu-responsive ul li a { color: #CAE0F5; font-size: 17px; }
.menu-responsive ul li.current-menu-item a { color: #129643; }
.menu-responsive ul.sub-menu li { border-bottom: none; }
.menu-responsive ul.sub-menu li a:before { content: "\f101"; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); margin: 0 5px 0 0; }
@media (max-width:1024px) {
	.menu-icon, .menu-responsive { display: block; }
	nav { display: none; }
}
div.category { position: absolute; width: 100%; top: 0; z-index: 999; }
div.category h3 { margin: 0; background-color: #1e51ae; padding: 14px 13px 12px 15px; font: 700 13px Arial, Helvetica, sans-serif; border: none; }
div.category h3 span { color: #fff; }
nav.menu-cat { display: block; position: relative; z-index: 99; }
nav.menu-cat ul { display: block; position: relative; width: 100%; z-index: -1; list-style: none; margin: 0; padding: 1px 0; background: #f5f5f5; }
nav.menu-cat ul li { border-bottom: 1px solid #fff; }
nav.menu-cat ul li ul li { border: none; }
nav.menu-cat ul li:last-child { border-bottom: 0; }
nav.menu-cat ul li a { float: none; font: 700 12px Arial, Helvetica, sans-serif; padding: 11.6px 10px 14px; display: block; text-decoration: none; color: #444; }
nav.menu-cat ul li a:before { content: "\f101"; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); margin-right: 5px; color: #444; }
nav.menu-cat ul li a:hover { background: #fff; }
nav.menu-cat ul li ul { display: none; position: absolute; left: 290px; top: 0; height: 100%; background: #FFFFFF; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; width: 300px; z-index: 999; }
nav.menu-category { display: none !important; }
.category.hover nav.menu-category { display: block !important; }
nav.menu-cat ul li ul li a { color: #444; border: none; }
nav.menu-cat ul li ul li a:hover { text-decoration: none; background: none; color: red }
.tools { text-align: right; }
div.search, .tools { margin-top: 15px; }
div.search .tags { color: #444; margin-top: 5px; font-size: 13px; }
div.search .tags a { color: #888; margin: 0 0px 0 5px; font-size: 13px; }
div.search .tags strong { float: left; }
.tags ul { list-style: none; margin: 0; padding: 0; }
.tags ul li { display: inline-block; }
.navfixed { z-index: 1000; position: fixed !important; top: 0px; width: 100%; }
.navfixed .category ul, .nav .search-form { display: none; }
.navfixed .owl-new { display: none !important; }
.navfixed .category.hover ul { display: block; }
.navfixed .search-form { margin-top: 3px; margin-left: 10px; display: block; }
.navfixed .search-form .form-control { border: 1px solid #E8EFFB; }
.navfixed .search-form .btn-success { color: #fff; background-color: #f0ad4e; border-color: #eea236; }

/**
 * Search Form
 */
.search-form { }
.search-form .form-group { margin: 0; }
.search-form .buttom-search { padding: 7px 13px; border-radius: 0; }
.search-form .form-control { border: 1px solid #4471c2; font: normal 12px Arial, Helvetica, sans-serif; color: #555; }
.search-form .form-control { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; padding: 17px 15px; }
.search-form .btn-success { color: #fff; background-color: #4471C2; border-color: #4471C2; }
h1.title-post, .checkout h3, .woocommerce-checkout h3, .woocommerce-account h3, .addresses h3, #comments h2 { text-transform: uppercase; font-size: 13px; font-weight: bold; font-family: Arial; color: #4C93B8; }
.entry-summary .price { font-size: 20px !important; font-weight: bold !important; }
.title, .title-page, .cart_totals h2, .woocommerce-checkout h2, .woocommerce-billing-fields h3, .woocommerce-account h2, .panel h3 { font-size: 13px; line-height: 2.8; text-transform: uppercase; font-weight: bold; font-family: Arial; margin-top: 4px; border-bottom: 1px dotted #4471C2; }
.title span, .panel h3 span, .title-page span { color: #4471C2; display: inline-block; padding: 0 10px 0 0; }
.content-top { margin-bottom: 10px; }

/*Product style*/
.list-content { width: 100%; display: inline-block; }
.list-content .product-item { margin-bottom: 10px; }
.product-item { position: relative; overflow: hidden; background: #F5F5F5; }
.details ul { padding: 0 10px; }
.details { position: absolute; background: rgba(0, 0, 0, 0.7); padding: 10px; opacity: 0; font-size: 13px; height: 100%; color: #fff; width: 100%; transition: all 0.3s ease-in-out; display: none; }
/*.product-item:hover .details { opacity: 1; }*/
.details ul li { list-style-type: none; padding: 0; }
.details a.btn { position: absolute; bottom: 0; left: 0; }
.details button { position: absolute; bottom: 0; right: 0; }
.product-item .label.left { position: absolute; border-radius: 0; font-size: 13px; margin: 0px; }
.product-item .label.right { position: absolute; border-radius: 0; font-size: 13px; margin: 0px; right: 0; }
.product-item a.post-title { color: #444; display: block; font: normal 13px Arial, Helvetica, sans-serif; text-align: center; margin: 5px 0; line-height: 1.6; }
.product-item a.post-title:hover { color: #3B559F; }
.product-item .meta { padding: 10px; text-align: center; }
.product-item .add_to_cart_button:before { content: "\f218"; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); }
.product-item .loading:before { content: "\f021"; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); background: none !important; -webkit-animation: fa-spin 2s infinite linear; animation: fa-spin 2s infinite linear; }
.product-item .added:before { content: "\f00c"; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); }
.product-item .wc-forward { display: none; }

/*Post style*/
.post-meta.text-left { margin: 10px 0; color: #f7941e; }
.list-post h4 { font-size: 14px; line-height: 1.5; color: #006092; display: block; font-weight: bold; font-family: Arial; margin: 0 0 10px 0; }
.list-post p { line-height: 1.8; }
.list-post, .post-list { margin-top: 10px; }
.post-date { color: #a1a1a1; font-size: 14px; display: block; margin-top: 10px; }
.list-post a.post-title { line-height: 1.6; color: #4471C2; font-size: 13px; text-transform: uppercase; }
.list-content .clearfix { margin: 5px 0 0 0; }
.owl-new a { color: #fff; margin: 12px 0 0 10px; display: block; }

/*Footer style*/
.footer { background: #19191E; color: #666; padding: 10px 0; line-height: 1.8; margin-top: 20px;}
.footer h3 { font-size: 13px; text-transform: uppercase; font-weight: bold; margin: 0px 0 10px; font-family: Arial; border-bottom: 1px dotted #4471C2; padding-bottom: 10px; color: #4471C2; }
.footer strong { font-size: 13px; color: #4471C2; }
.footer p { margin: 0; }
.footer a { color: #fff; }
.list-item { background-color: #323232; padding: 10px; color: #989898 }
.list-item ul { margin: 0; padding: 0; list-style: none; }
.list-item ul li a { color: #989898; }
.list-item ul li a:before { content: "\f101"; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); margin-right: 5px; color: #989898; }
.address { margin: 8px 0; }
.dev { margin-top: 20px; }
.social { overflow: hidden; }
.social span { color: #fff; font-size: 15px; display: block; line-height: 2.0; margin: 13px 0; }
.social i { color: #FFFFFF; font-size: 25px; background: #000; border-radius: 50%; width: 50px; height: 50px; text-align: center; line-height: 2.1; }
.back-to-top { position: fixed; bottom: 35px; right: 10px; display: none; cursor: pointer; }
.back-to-top i { background: #E00C3D; padding: 5px 10px; color: #fff; font-size: 30px; font-weight: bold; }
.notice { border-radius: 0; margin: 20px 0; overflow: hidden; }
.like-click { display: block; padding: 10px 10px 5px; margin: 10px 0; clear: both; background-color: #f1f1f1; border: 1px solid #eaeaea; }
.like-click .fb-btn { margin: 0 10px 0 0; float: left; }
#fbcomments, .fb-comments, .fb-comments iframe[style], .fb-comments span { width: 100% !important; }
.contact-form .input-group { margin-bottom: 10px; float: left; }
.contact-form .form-margin .input-group { margin-bottom: 10px; }
.contact-form .input-group .input-group-addon { border-radius: 0px; background-color: #4471C2; border: none; position: relative; }
.contact-form .input-group .input-group-addon i { color: #ffffff; font-size: 26px; width: 24px; height: 24px; }
.contact-form .input-group .form-control { background-color: rgb(241, 241, 241); border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border: none; padding: 15px 15px; color: #fff; min-height: 50px; -webkit-box-shadow: none; box-shadow: none; }
::-webkit-input-placeholder { color: #444 !important; }
:-moz-placeholder { color: #444 !important; }
::-moz-placeholder { color: #444 !important; }
:-ms-input-placeholder { color: #444 !important; }
.btn { border-radius: 0; }
#gallery-thumbnail .item { margin: 5px; color: #FFF; text-align: center; cursor: pointer; }
#gallery-thumbnail .synced .item { border: 4px solid #2A82B7; }
.tab-content .tab-pane { padding-top: 10px; -webkit-box-shadow: none; box-shadow: none; }
.tab-content h3 { text-transform: uppercase; font-size: 13px; font-weight: bold; font-family: Arial; color: #4C93B8; }
.nav-tabs>li a { border-radius: 0; border: none; color: #2a82b7; background-color: #F5F5F5; position: relative; font-size: 14px; font-weight: bold; font-family: Tahoma; }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover { background: #4471C2; border: none; color: #fff; }
.nav-tabs { border-bottom: 1px solid #F5F5F5; }
img { max-width: 100%; height: auto; }
.view-cart { color: #fff !important; background-color: #117D39; display: block; font-size: 14px; font-weight: 400; line-height: 3.1; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; padding: 0 10px 0 0; overflow: hidden; text-decoration: none; }
.view-cart i { font-size: 20px; padding: 11px; float: left; background-color: #E62534; }
.cart-widget { position: absolute; top: 43px; right: 15px; background-color: #F5F4F4; z-index: 9999; display: none; padding: 0px; width: 263px; }
.widget_shopping_cart_content .buttons a { padding: 10px 15px; }
.widget_shopping_cart_content span.quantity { font-size: 13px; display: block; }
.widget_shopping_cart_content { padding: 10px 10px 0; }
.widget_shopping_cart_content ul { list-style: none; margin: 0; padding: 0; }
.widget_shopping_cart_content ul li { margin: 0; padding: 0; display: block; overflow: hidden; }
.widget_shopping_cart_content ul li img { margin: 0; padding: 0; float: right; width: 60px; }
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-5ths { width: 20%; float: left; }
@media (min-width:768px) {
	.col-sm-5ths { width: 20%; float: left; }
}
@media (min-width:992px) {
	.col-md-5ths { width: 20%; float: left; }
}
@media (min-width:1200px) {
	.col-lg-5ths { width: 20%; float: left; }
}
ins { text-decoration: inherit; }
.panel { -moz-box-shadow: 0px 0px 0px transparent; -webkit-box-shadow: 0px 0px 0px transparent; box-shadow: 0px 0px 0px transparent; }
.panel-group .panel + .panel { margin-top: 10px; }
.panel-heading { padding: 0; }
.panel-default > .panel-heading { background-image: none; background-color: transparent; }
.panel-primary>.panel-heading, .panel-primary { border: none; border-radius: none; }
.panel-default > .panel-heading, .panel-default, .panel-group .panel-heading + .panel-collapse > .panel-body { border: 0 none; font-size: 14px; }
.panel-title > a { display: block; text-decoration: none; padding: 10px 50px; position: relative; background-color: #00AEEF; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; color: #ffffff; line-height: 1.6; font-size: 13px; font-weight: bold; }
.panel-title > a:before { content: "\f046"; font-family: 'FontAwesome'; display: inline-block; background-color: #f0f0f0; position: absolute; left: 0; top: 0; width: 40px; height: 100%; padding: 10px 0; text-align: center; -moz-border-radius-topleft: 0; -moz-border-radius-topright: 0px; -moz-border-radius-bottomleft: 0; -moz-border-radius-bottomright: 0px; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0px; -webkit-border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0px; border-top-left-radius: 0; border-top-right-radius: 0px; border-bottom-left-radius: 0; border-bottom-right-radius: 0px; color: #4c4c4c }
.panel-title > a:after { content: "\f068"; font-family: 'FontAwesome'; display: inline-block; background-color: transparent; position: absolute; right: 0; top: 0; width: 40px; height: 100%; padding: 10px 0; text-align: center; -moz-border-radius-topleft: 0px; -moz-border-radius-topright: 0; -moz-border-radius-bottomleft: 0px; -moz-border-radius-bottomright: 0; -webkit-border-top-left-radius: 0px; -webkit-border-top-right-radius: 0; -webkit-border-bottom-left-radius: 0px; -webkit-border-bottom-right-radius: 0; border-top-left-radius: 0px; border-top-right-radius: 3px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0; color: #fff; }
.panel-title > a.collapsed:after { content: "\f067"; }
.panel-title > a.collapsed { background-color: #e1e4e6; color: #0e0f0f; }
.panel, .panel-group .panel, .panel-primary>.panel-heading { border-radius: 0; }
.panel a:focus { text-decoration: none; }
.modal-title { font-family: Arial; text-transform: uppercase; color: #fff; padding: 10px 0 5px 0; font-size: 13px; text-rendering: optimizelegibility; width: 100%; text-align: center; line-height: 1.2; font-weight: bold; }
.panel, .panel-group .panel, .panel-primary>.panel-heading { border-radius: 0; }
.panel a:focus { text-decoration: none; }
.modal-content { background: #FFFFFF; border: none; border-radius: none; box-shadow: none; }
.modal-header { border-bottom: 1px solid #4471c2; background: #4471c2; text-align: center; color: #fff; }
.modal-footer { border-top: 1px solid #4471c2; background: #4471c2; color: #fff; }
.modal-body { color: #2F2F2F; font-size: 13px; }
.box { overflow: hidden; }
.box i { font-size: 35px; float: left; margin-right: 10px; color: #4471C2; }
.box span { margin-top: 5px; display: block; font: bold 12px Arial; line-height: 1.2; }
.hotline p { margin: 4px 0; color: #FDE405; font: bold 13px Arial; }
.hotline span { color: #fff; }
.cart a { display: block; margin-top: 4px; }
a.home { float: left; color: #FDE405; font-size: 27px; margin: 2px 8px; }
.product-meta { margin-bottom: 10px; }
.advisory a { font: bold 13px Arial; line-height: 1.6 !important; display: block; margin: 10px 0; text-transform: none !important; color: #444 !important; }
.link-info-bank {color: #fff!important; text-decoration: none!important;}
.support-icon-right {
  background: #F0F3EF;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9;
  overflow: hidden;
  width: 250px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.support-icon-right h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  font-family: Arial;
  color: #fff;
  margin: 0;
  background-color: #3B559F;
  cursor: pointer;
}

.support-icon-right i {
  background-color: #25449C;
  padding: 15px 15px 12px 15px;
  color: #fff;
}

.online-support {
  display: none;
}

#logo {
	margin: 0;
	padding: 0;
}
#logo .site-title { 
	font-size: 0;
	color: #FFF;
}

@media screen and (min-width: 992px){
	#banner {
		overflow: hidden;
		margin-bottom: 15px;
		min-height: 315px;
		max-height: 315px;
	}
}
.product-item .meta h2 {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 52px;
}
.product-item .meta h2 a { 
	display: inline-block;
	height: 52px;
}
@media screen and (max-width: 767px){
	.menu-top ul {
		text-align: center;
	}
	.menu-top ul li a {
		font-size: 16px;
	}
	#logo,
	.tools {
		text-align: center;
	}
	.tools {
		margin-bottom: 15px;
	}
	div.search { display: none; }
	
	.product-item .meta h2,
	.product-item .meta h2 a { 
		height: 70px;
	}
}
.post-content h3 {
	border-bottom: none!important;
}

