﻿/*
Description: Woocommerce Style
*/
nav.woocommerce-breadcrumb {
  padding: 10px 0;
  display: block;
  font-size: 14px;
  border-bottom: 1px solid #dfdfdf;
}

nav.woocommerce-breadcrumb a {
  color: #1E51AE;
}

button.single_add_to_cart_button {
  background-color: #d9534f;
  color: #fff;
  border: 1px solid #d43f3a;
  padding: 10px;
  font-size: 14px;
}

button.single_add_to_cart_button:before {
  content: "\f1b8";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin-right: 5px;
}

.product-item a.readmore:before {
  content: "\f101";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  padding: 11px;
  background: #117D39;
  margin-right: 5px;
  font-size: 16px;
  float: left;
}

.woocommerce-page .cart input[type="number"],
.shipping-calculator-form select,
.shipping-calculator-form input {
  padding: 13px 10px;
  font: 13px Arial;
  border: 1px solid #ebebeb;
  background: #F2F2F2;
}

.lost_reset_password input {
  padding: 10px 5px;
  font: 13px Arial;
  border: 1px solid #fff;
  background: #fff;
  display: block;
}

.lost_reset_password label {
  font-size: 13px;
}

.woocommerce-message,
.woocommerce-info,
.lost_reset_password,
.addresses,
.product_meta,
.myaccount_user {
  color: #3c763d;
  background-color: #dff0d8;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #d6e9c6;
  position: relative;
}

.woocommerce-edit-address .woocommerce form,
#reviews,
.edit-account,
.login,
.register,
.woocommerce-checkout-payment ul.methods,
.create-account {
  color: #31708f;
  background-color: #d9edf7;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #bce8f1;
}

.woocommerce-edit-address .woocommerce label,
.login label,
.register label {
  display: block;
  font-size: 13px;
}

.edit-account label {
  display: block;
}

.woocommerce-edit-address .woocommerce input[type="text"],
.comment-form input[type="text"],
.comment-form textarea,
.edit-account input[type=password],
.edit-account input[type=text],
.edit-account input[type=email],
.create-account input[type=password],
.login input[type=text],
.login input[type=password],
.register input[type=email],
.register input[type=password] {
  padding: 10px 5px;
  font: 13px Arial;
  border: 1px solid #fff;
  background: #fff;
  width: 100%;
}

.comment-respond,
form.woocommerce-checkout,
.create-account,
.addresses {
  font: 13px Arial;
  font-style: normal;
}

form.woocommerce-checkout .woocommerce-billing-fields label,
form.woocommerce-checkout .shipping_address label,
.create-account label {
}

form.woocommerce-checkout input[type=text],
.create-account input[type=password] {
}

.woocommerce-edit-address .woocommerce input[type="email"],
.woocommerce-edit-address .woocommerce input[type="tel"],
form.woocommerce-checkout input[type=email],
form.woocommerce-checkout input[type=tel],
form.woocommerce-checkout input[type=text],
.notes textarea {
  padding: 10px 5px;
  font: 13px Arial;
  border: 1px solid #ebebeb;
  background: #F2F2F2;
  width: 100%;
}

.notes textarea {
  width: 100%;
  height: 100px;
}

.woocommerce-message a {
  color: #3c763d;
  float: right;
  font-weight: bold;
  font-size: 13px;
  position: absolute;
  right: 5px;
  top: 8px;
}

.entry-summary .cart {
  overflow: hidden;
}

.entry-summary .cart .quantity input {
  width: 50px;
  float: left
}

.entry-summary .cart .single_add_to_cart_button {
  float: left;
  margin: 0 0 0 10px;
}

.edit-account legend,
.product-item span.price,
.entry-summary p.price {
  font: bold 13px Arial, Helvetica, sans-serif;
  color: #da1821;
  overflow: hidden;
  display: block;
}

.product-item span.price del,
.entry-summary p.price del {
  font-size: 13px;
  color: #4471C2;
  font-weight: normal;
}

.product-item span.price del {
  float: left;
  margin-left: 10px;
}

.product-item span.price ins {
  float: right;
  margin-right: 10px;
}

.edit-account,
table.cart,
.cart_totals.calculated_shipping,
.login,
.cart-collaterals,
table.order_details {
  font-family: Arial;
}

table.cart th {
  font-weight: bold;
}

table.cart .product-thumbnail {
  width: 60px;
}

label.inline {
  margin: 10px 0;
}

.woocommerce-edit-address .woocommerce input[type="submit"],
a.button.wc-backward,
.comment-form input[type="submit"],
.edit-account input[type=submit],
.actions input[type="submit"],
.wc-proceed-to-checkout a,
.shipping-calculator-form button,
.login input[type="submit"],
.register input[type="submit"],
.place-order input[type="submit"],
.lost_reset_password input[type="submit"],
.woocommerce-message a,
.widget_shopping_cart_content .buttons a {
  color: #fff !important;
  background-color: #337ab7;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #2e6da4;
}

.related.products,
.nav-tabs {
  clear: both;
}

.woocommerce-checkout-payment ul.methods {
  margin: 0 0 10px;
}

.woocommerce-checkout-payment ul li {
  list-style: none;
}

ul.woocommerce-error,
ul.order_details {
  color: #a94442;
  background-color: #f2dede;
  padding: 15px 15px 15px 30px !important;
  margin-bottom: 20px;
  border: 1px solid  #ebccd1;
}

form.register {
  min-height: 355px;
}

.processing:before {
  content: "\f021";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  background: none !important;
  font-size: 35px;
  float: left;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  color: #129643;
  position: absolute;
  bottom: 5px;
  left: 130px;
}

.blockUI:before {
  content: "\f021";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  background: none !important;
  font-size: 35px;
  float: left;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  color: #B51515;
  position: absolute;
  top: 50%;
  left: 50%;
}

.cart-empty {
  color: #a94442;
  background-color: #f2dede;
  padding: 15px;
  border: 1px solid #ebccd1;
  text-align: center;
}

ol.commentlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.commentlist li {
  overflow: hidden;
  margin: 10px 0;
  display: block;
}

ol.commentlist img {
  float: left;
  padding: 3px;
  width: 32px;
  height: auto;
  background: #ebe9eb;
  border: 1px solid #e4e1e3;
  margin: 0;
}

.comment-text {
  border: 1px solid #bce8f1;
  margin: 0 0 0 40px;
  padding: 10px;
}

.comment-text .meta {
  font-size: 12px;
}

.cart-collaterals .wc-proceed-to-checkout {
  float: right;
  margin: 0;
}

#shipping_method {
  list-style: none;
}

.thumbnails img {
  width: 135px;
}

.images {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.images span.label.right.label-info {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  font-size: 30px;
}